<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="FunctionGroup">
      <section name="Func" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="ManagerGroup">
      <section name="Interface" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="JCodeGroup">
      <section name="JCode" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  
  <ManagerGroup>
    <Interface>
      <add key="IUsrManager" value="UsrManager"/>
      <add key="IUsrAuthManager" value="UsrAuthManager"/>
      <add key="ICatgManager" value="CatgManager"/>
      <add key="ICustomerManager" value="CustomerManager"/>
      <add key="IGoodsManager" value="GoodsManager"/>
      <add key="IInventoryManager" value="InventoryManager"/>
      <add key="IRefund2SupplierManager" value="Refund2SupplierManager"/>
      <add key="IResellerBillingManager" value="ResellerBillingManager"/>
      <add key="IResellerRefundManager" value="ResellerRefundManager"/>
      <add key="IStockInManager" value="StockInManager"/>
      <add key="IStockOutManager" value="StockOutManager"/>
      <add key="ISubCatgManager" value="SubCatgManager"/>
      <add key="ISupplierBillingManager" value="SupplierBillingManager"/>
    </Interface>
  </ManagerGroup>
  
  <FunctionGroup>
    <Func>
      <!-- 商品管理 -->
      <add key="10001" value="综合分类"/>
      <add key="10002" value="商品分类"/>
      <add key="10003" value="商品信息"/>
      
      <!-- 库存盘点 -->
      <add key="20001" value="盘点"/>
      
      <!-- 进货管理 -->
      <add key="30001" value="进货"/>
      <add key="30002" value="退货"/>
      
      <!-- 出货管理 -->
      <add key="40001" value="出货"/>
      <add key="40002" value="回收"/>
      
      <!-- 分析 -->
      <add key="50001" value="年利润统计"/>
      <add key="50002" value="销售人员业绩统计"/>
      
      <!-- 账务 -->
      <add key="60001" value="供应商账单"/>
      <add key="60002" value="分销商账单"/>
      
      <!-- 客户管理 -->
      <add key="70001" value="供应商管理"/>
      <add key="70002" value="分销商管理"/>
      <add key="70003" value="供货信息管理"/>
      <add key="70004" value="客户账户管理"/>
      
      <!-- 系统管理 -->
      <add key="80001" value="用户管理"/>
      <add key="80002" value="权限管理"/>
    </Func>
  </FunctionGroup>

  <JCodeGroup>
    <JCode>
      <!-- 权限 -->
      <add key="JE-900" value="权限不足,禁止访问！"/>

      <!-- 登录 -->
      <add key="JE-800" value="登录名或密码错误！"/>
      <add key="JE-801" value="账户已被冻结！"/>
      
      <!-- 库存 -->
      <add key="JE-700" value="库存量发生变更，操作失败！"/>

      <!-- 系统 -->
      <add key="JE-000" value="抱歉，发生了点意外..."/>
      <add key="JE-001" value="无此记录！"/>
      <add key="JE-100" value="获取连接失败！"/>
    </JCode>
  </JCodeGroup>
  
  <connectionStrings>
    <add name="gcry_mysql" connectionString="Server=localhost;Database=grocery;Uid=gcy;Pwd=gcy2jia2016;CharSet=utf8;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="dbType" value="mysql"/>
    <add key="conPreName" value="gcry"/>
    <add key="mgrImplNamespace" value="BLL.Proxy"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
