<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="grocery_mysql" value="Server=localhost;Database=grocery;Uid=gcy;Pwd=gcy2jia2016;CharSet=utf8;" />
    <add key="dbType" value="mysql" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>